body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-welcome {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    /*background-color: #C83700;*/
}

.form-welcome .form-login-heading {
    margin-bottom: 10px;
}