body {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #eee;
    background: url(../img/bg/helloPage.jpg);
}

.form-welcome {
    max-width: 225px;
    padding: 10px;
    margin: 0 auto;
    background: transparent;
    text-align: center;
    border: 1px solid #eee;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: 1;
    color: #FFFFFF;
    text-align: center;
    /*font-size: 28px;*/
    padding: 4px;
    /*width: 200px;*/
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #6A5ACD;
    color: white;
}

h2 { 
    margin-top: 0px; 
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 40px;
}