body {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #eee;
    background-image: url(../img/bg/login.jpg);
}

.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #7ab5d;
}
.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}
.form-login .checkbox {
    font-weight: normal;
}
.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    display: block; width: 100%;
    max-width: 160px; margin-left: auto; margin-right: auto;
}
.form-login .form-control:focus {
    z-index: 2;
}
.form-login input[type="login"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: block; width: 100%;
    max-width: 160px; margin-left: auto; margin-right: auto;
}
.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block; width: 100%;
    max-width: 160px; margin-left: auto; margin-right: auto;
}
.form-login input[type="upload"] {
    margin-bottom: 21px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: block; width: 100%;
    max-width: 160px; margin-left: auto; margin-right: auto;
}

.form-login button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: 1;
    color: #FFFFFF;
    text-align: center;
    /*font-size: 28px;*/
    padding: 4px;
    /*width: 200px;*/
    transition: all 0.5s;
    cursor: pointer;
}

.form-login button:hover {
    background-color: #B4CDCD;
    color: white;
}