body {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #eee;
    background-image: url(../img/bg/register.jpg);
    font: 300 16px/1.2em 'Open Sans', 'Arial', sans-serif;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: transparent;
    text-align: center;
    /*border: 1px solid #000;*/
}

.form-register .form-register-heading {
    margin-bottom: 10px;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    display: inline-block;
    border-radius: 4px;
    /*background-color: transparent;*/
    background: rgba(134, 25, 194, 0.9);
    border: 1;
    color: #FFFFFF;
    text-align: center;
    /*font-size: 28px;*/
    padding: 4px;
    /*width: 200px;*/
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #6A5ACD;
    color: white;
}

label {
    margin-bottom: 5px;
    display: block; width: 100%;
    max-width: 160px; margin-left: auto; margin-right: auto;
}
input {
    margin-bottom: 10px;
    display: block; width: 100%;
    max-width: 160px; margin-left: auto; margin-right: auto;
}