body {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #eee;
    background-image: url(../img/bg/upload.jpg);
    background-color: #483D8B;
    text-align: center;
}

.form-upload {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: transparent;
    text-align: center;
    border: 1px solid #eee;
    display: block; width: 100%;
    max-width: 180px; margin-left: auto; margin-right: auto;
}

input[type="file"] {
    border: 1px solid #eee;
    background: rgba(134, 25, 194, 0.3);
}

form input,
form label
{
    display: block;
    max-width: 180px;
}

form input
{
    margin: 5px auto 10px;
}

form input[type="submit"] {
    width: 60px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: 1;
    color: #FFFFFF;
    text-align: center;
    /*font-size: 28px;*/
    padding: 4px;
    /*width: 200px;*/
    transition: all 0.5s;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #551A8B;
    color: white;
}

button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
    border: 1;
    color: #FFFFFF;
    text-align: center;
    /*font-size: 28px;*/
    padding: 4px;
    /*width: 200px;*/
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #551A8B;
    color: white;
}